<div class="card">
  <div class="image-container">
    <img
      src="./../../../assets/img/{{ data.Image }}.png"
      alt="{{ data.Image }}"
    />
    <div class="overlay">
      <h4>{{ data.Name }}</h4>
      <p>Id: {{ data.Id }} - created on {{ data.Created }}</p>
    </div>
  </div>
    <ul>
      <li *ngFor="let detail of data.details | keyvalue" class="details">
        <span class="label">{{ detail.key }}</span>
        <span class="value">{{ detail.value }}</span>
      </li>
    </ul>
</div>
