<div class="row home-container">
  <div class="col-xs-12 col-sm-12 col-md-3">
      <h3 class="col-md-12">Filters</h3>
    <s-filters></s-filters></div>
  <div class="col-md-9 no-pad">
    <h3 class="row col-md-12">Selected Filters</h3>

    <nav class="navbar navbar-light row">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </nav>
    <ul class="row">
      <li *ngFor="let filter of appliedFilters">
        {{ filter }} > <s-chips></s-chips>
      </li>
    </ul>
    <div class="row col-md-12 card-container">
      <div class="col-xs-6 col-sm-6 col-md-3 no-pad" *ngFor="let show of shows">
        <s-card [data]="show"></s-card>
      </div>
    </div>
  </div>
</div>
